div#activiteiten{
    text-align: center;
    // background-color: #6DB0EF;
    //auto height als er wat in staat
    height: 250px;
    
    h2{
        color: white;
        font-family: 'Slabo 27px', serif;
    }
    div#activiteitencontent{
        width:70%;
        margin:0 auto;
    }
    p{
        letter-spacing: 1.2px;  
        line-height: 1.2;
        word-spacing: -2px;
        text-shadow: 0.2px 0.2px #000;
        color:white;
        font-family: 'Slabo 27px', serif;
    }
}