div#contact{
    height: 400px;
    position: relative;
}
#map {
    height: 100%;
    z-index: 100;
}
#footer{
    height: 50px;
}
#infodiv{
    width: auto;
    position: absolute;
    z-index: 400;
    background-color: white;
    opacity: 0.9;
    padding: 30px;  
    left: 10px;
    top: 50px;
}
#kaartje{
    padding:5px;
    list-style-type: none;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 1.2px;  
    line-height: 1.2;
    word-spacing: -2px;
    color: #3E9D50;
}
a {
  color: #3E9D50;
  text-decoration: none; /* no underline */
}
a:hover { 
    color:blue;
    text-decoration: underline;
}
#imgscaler{
    width: 200px;

    img{
        width:100%;

    }
}
