div#doelstelling{
    text-align: center;
    h1{
        color: white;
        text-decoration: underline;
        text-decoration-color: white;
        font-family: 'Slabo 27px', serif;
    }
    h2{
        color:white;
        font-family: 'Slabo 27px', serif;
    }
    p#doelp{
    width:40%;
    letter-spacing: 1.2px;  
    line-height: 1.2;
    word-spacing: -2px;
    text-shadow: 0.2px 0.2px #000;
    color:white;
    font-family: 'Slabo 27px', serif;
    }
}
div#doelstellingtekst{
    float:left;
    overflow:hidden;
    margin-left:5%;
}

