div#doelstelling{
    text-align: center;
    h1{
        color: white;
        text-decoration: underline;
        text-decoration-color: white;
        font-family: 'Slabo 27px', serif;
    }
    h2{
        color:white;
        font-family: 'Slabo 27px', serif;
    }
}

