#nav{
    height: 50px;
    background-color:#006400;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.19);
    position: fixed;
    top: 0;
    width: inherit;
    z-index: 600;

	ul#sectionlist {
	    height: 100%;
	    width: 400px;
	    margin: 0 auto;
	    padding: 0;

	    li.navlistobj{
		    display: inline-block;
		    height: 100%;
		    margin: 0;
		    list-style-type: none;

		    a {
		    	display: inline-block;
    			height: 100%;
    			padding: 20px 15px;
    			font-family: 'Slabo 27px', serif;
    			// line-height: 50px;
    			text-decoration: none;
    			margin: 0;
    			color: white;
		    }
		}
	}

}